body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
}
.game {
}
.image-container {
  display: grid;
  background-color: antiquewhite;
  width: 470px;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.image-container.hard {
  grid-template-columns: repeat(4, 1fr);
  width: 630px;
}
.image-container.extra-hard {
  grid-template-columns: repeat(5, 1fr);
  width: 790px;
}
.image-box {
  width: 150px;
  height: 150px;
  background-color: rgb(241, 148, 7);
  cursor: pointer;
  border-radius: 5px;
}

.image-revealed {
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 0;
}

.hidden-image {
  opacity: 0;
  background-color: aqua;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 1;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup-content-finish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 350px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: antiquewhite;
}

.popup-content-finish h1 {
  margin: 3px;
}
.status {
  margin: 20px 0px;
  font-size: 20px;
}

.long-status {
  margin: 10px 0px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 0px;
}
.buttons button {
  padding: 7px 14px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(241, 148, 7);
}

.overlay.active {
  display: block;
}

.popup-content-finish.active {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup start */
.popup-content-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 350px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content-start h1 {
  margin: 15px 0px 15px 0px;
}

.select_level {
  width: 80px;
  height: 25px;
  text-align: center;
  border: 1.5px solid black;
  border-radius: 5px;
  margin: 5px 0px;
}

.start {
  margin: 15px 0px;
  padding: 7px 20px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(241, 148, 7);
}
.popup-content-start.active {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
